.body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 320px;
  max-width: 1280px;
  width: 100%;
  background-color: #2A2C2F;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}