.places {
	box-sizing: border-box;
	color: white;
	margin: 92px 148px 0 148px;
	max-width: 984px;
}

@media screen and (max-width: 1024px) {
	.places {
		margin: 0 48px 0 48px;
		max-width: 928px;
	}
}

@media screen and (max-width: 768px) {
	.places {
		margin: 88px 24px 0 24px;
		max-width: 720px;
	}
}

@media screen and (max-width: 320px) {
	.places {

		margin: 64px 16px 0 16px;
	}
}