.lead {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	color: #FFFFFF;
	position: relative;
	max-width: 984px;
	margin-top: 56px;
}

@media screen and (max-width: 1024px) {
	.lead {
		margin-top: 48px;
		max-width: 928px;
	}
}

@media screen and (max-width: 768px) {
	.lead {
		/*margin-bottom: 88px;*/
	}
}

@media screen and (max-width: 320px) {
	.lead {
		/*margin: 106px 0 64px 0;*/
	}
}