.cover__subtitle {
	margin-top: 32px;
	max-width: 360px;
	text-align: center;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #FFF;
	z-index: 3;
}

@media screen and (max-width: 320px) {
	.cover__subtitle {
		font-size: 14px;
		line-height: 16px;
	}
}