.footer__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media screen and (max-width: 320px) {
	.footer__wrapper {
		display: flex;
		flex-direction: column;
		max-width: 186px;
	}
}