.intro__text {
	margin: 0;
	max-width: 690px;
	font-size: 16px;
	line-height: 163%;
	font-weight: 400;
}

@media screen and (max-width: 1024px) {
	.intro__text {
		max-width: 690px;

	}
}

@media screen and (max-width: 768px) {
	.intro__text {
		max-width: 100%;
	}
}

@media screen and (max-width: 425px) {
	.intro__title {
		font-size: 16px;
		width: 100%;
		margin-right: 16px;
	}
}