.lead__subtitle {
	margin: 0 auto;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	max-width: 640px;
	font-weight: 400;
	margin: 0 320px 64px 320px;
}

@media screen and (max-width: 1024px) {
	.lead__subtitle {
		margin: 0 192px 56px 192px;

	}
}

@media screen and (max-width: 768px) {
	.lead__subtitle {
		margin: 0 64px 56px 64px;
	}
}

@media screen and (max-width: 320px) {
	.lead__subtitle {
		font-size: 16px;
		line-height: 20px;
		margin: 0 16px 40px 16px;
		max-width: 288px;
	}
}