.cover {
	box-sizing: border-box;
	max-width: 1184px;
	margin: 92px 48px 92px 48px;
	opacity: 0.8;
}

.cover:hover {
	opacity: 0.3;
}

@media screen and (max-width: 1024px) {
	.cover {
		margin: 92px 0 0 0;
		max-width: 1024px;
	}
}

@media screen and (max-width: 768px) {
	.cover {
		margin: 90px 0 0 0;
		max-width: 768px;
	}
}

@media screen and (max-width: 320px) {
	.cover {
		margin: 99px 0 0 0;
		max-width: 320px;
	}
}