.cover {
	margin: 0 auto;
	max-width: 1184px;
	width: 100%;
	margin-top: 92px;
}

@media screen and (max-width: 1024px) {
	.cover {
		margin-top: 92px;
		max-width: 1024px;
	}
}

@media screen and (max-width: 768px) {
	.cover {
		margin-top: 90px;
		max-width: 768px;
	}
}

@media screen and (max-width: 320px) {
	.cover {
		margin-top: 66px;
		max-width: 320px;
	}
}