.place__paragraph {
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 163%;
  font-weight: 400;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    width: 456px;
    margin-bottom: 27px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    margin: 0;
    width: 352px;
    margin-bottom: 25px;
    font-size: 16px;

  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    width: 288px;
    margin-bottom: 25px;
  }
}