.place {
  margin: 0 auto;
  display: grid;
  grid-template-areas: "title link"
    "image paragraph";
  column-gap: 48px;
  row-gap: 40px;
  margin-bottom: 80px;
  max-width: 984px;
}

.place:nth-child(5) {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .place {
    column-gap: 28px;
    row-gap: 48px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    margin-bottom: 50px;
    grid-template-columns: minmax(320px, 1fr);
    grid-template-areas: "title"
      "link"
      "image"
      "paragraph";
  }
}