.description__paragraph {
	margin: 0 0 26px 0;
	font-size: 18px;
	line-height: 163%;
	font-weight: 400;
}

.description__paragraph:last-child {
	margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
.description__paragraph {
	width: 456px;
	margin-left: 32px;
	margin-right: 48px;
	}
}
		
@media screen and (max-width: 768px) {
.description__paragraph {
	width: 352px;
	margin-left: 28px;
	margin-right: 24px;
	}
}
	
@media screen and (max-width: 320px) {
.description__paragraph {
	width: 288px;
	margin: 0 16px 0 16px;
	}
}